[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/ImGuiColorTextEdit"]
	path = vendor/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "vendor/vendor/glfw"]
	path = vendor/vendor/glfw
	url = https://github.com/glfw/glfw.git
